

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	/* dont forget to get rid of that^^ */
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}

p {
	font-family: "Roboto Mono";
}

img {
	width: 150px;
}

.navbars {
	display: block;
	margin: 3%;
}

nav {
	margin: 0 auto;
}

button {
	margin: 0 0 0 14%;
	display: inline-block;
	width: 6em;
	height: 3rem;
	border-radius: 15%;
	color: white;
}

.plan {
	background-color: #FF764E;
}

.learn {
	background-color: #5ED3EB;
}

.involved {
	background-color: #FFCD69;
}

/* ---------------------------------------------------------------------------------------------------------------- */
.test {
	display: inline-block;
	width: 100%;
	padding-bottom: 25px ;
}
.test img {
	margin-left: 5%;
	border-radius: 50%;
}

.header {
	position: relative;
	height: 100%;
	width: 50%;
	display: inline-block;
	margin-left: 10%;
}

.header div {
	text-align: center;
}

.header div p {
	margin-bottom: 3%;
}

h1 {
	margin-bottom: 5%;
	font-family: "Chelsea Market";
}


.sub-header {
	background-color: #DDB9A3;
	margin: 2%;
	height: 2%;
	padding: 5px;
}

.sub-header p {
	margin: 1%;
	color: white;
}

.info img{
	display: block;
	margin: 0 auto;
}

.info p {
	display: block;
	text-align: center;
	width: 20%;
	margin: 2% auto;
}

.footer-img {
	height: 20em;
	width: 100%;
}


footer nav {
	margin: 0;
	width: 100%;
	background-color: #F9E7DC;
}

s {
	font-weight: bold;
}